<table class="table table-hover table-sm
mytableSA TbLcHi">
  <!--Modal/Table/Head///-->
  <!-- <thead class="mytable-head">
    <tr class="SAMtblROW">
      <th class="colTSAM">Title</th>
    </tr>
  </thead> -->
  <!--\\\Modal\Table\Head-->
  <!--Modal/Table/Body///-->
  <tbody>
    <tr class="columnOne">
      <td>
        <div class="card">
          <div class="card-block text-center MTcard">
            <p class="card-text">A Fiber-Optic-Based Calibration System for the High Resolution Fly's Eye Cosmic Ray Observatory</p>
            <div class="row justify-content-center">
              <a href="#" class="btn btn-default waves-effect">
                <i class="fa
                fa-book" aria-hidden="true"></i>
              </a>
              <a class="btn btn-secondary waves-effect">
                <i class="fa
                fa-file-pdf-o" aria-hidden="true"></i>
              </a>
              <a href="#" class="btn btn-default waves-effect">
                <i class="fa
                fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="columnOne">
      <td>
        <div class="card">
          <div class="card-block text-center MTcard">
            <p class="card-text">A Fiber-Optic-Based Calibration System for the High Resolution Fly's Eye Cosmic Ray Observatory</p>
            <div class="row justify-content-center">
              <a href="#" class="btn btn-default waves-effect">
                <i class="fa
                fa-book" aria-hidden="true"></i>
              </a>
              <a class="btn btn-secondary waves-effect">
                <i class="fa
                fa-file-pdf-o" aria-hidden="true"></i>
              </a>
              <a href="#" class="btn btn-default waves-effect">
                <i class="fa
                fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="columnOne">
      <td>
        <div class="card">
          <div class="card-block text-center MTcard">
            <p class="card-text">A Fiber-Optic-Based Calibration System for the High Resolution Fly's Eye Cosmic Ray Observatory</p>
            <div class="row justify-content-center">
              <a href="#" class="btn btn-default waves-effect">
                <i class="fa
                fa-book" aria-hidden="true"></i>
              </a>
              <a class="btn btn-secondary waves-effect">
                <i class="fa
                fa-file-pdf-o" aria-hidden="true"></i>
              </a>
              <a href="#" class="btn btn-default waves-effect">
                <i class="fa
                fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="columnOne">
      <td>
        <div class="card">
          <div class="card-block text-center MTcard">
            <p class="card-text">A Fiber-Optic-Based Calibration System for the High Resolution Fly's Eye Cosmic Ray Observatory</p>
            <div class="row justify-content-center">
              <a href="#" class="btn btn-default waves-effect">
                <i class="fa
                fa-book" aria-hidden="true"></i>
              </a>
              <a class="btn btn-secondary waves-effect">
                <i class="fa
                fa-file-pdf-o" aria-hidden="true"></i>
              </a>
              <a href="#" class="btn btn-default waves-effect">
                <i class="fa
                fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <!--\\\Modal\Table\Body-->
</table>
